
venv/
.pylintrc
__pycache__/
cache_django/


.vscode
.idea


.env.dev
**/__pycache__
**/cart.py
**/old_views.py
**/context_processors.py



db.sqlite3
media/
products/
musite_data.json
celerybeat-schedule
par.txt