{% load static %}

<div class="ps-site-features">
  <div class="ps-container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
        <div class="ps-block--iconbox"><i class="ba-delivery-truck-2"></i>
          <h4 class='text-nowrap'>Бесплатная доставка <span> По заказу свыше 1500₽ </span></h4>
          <p>Хотите отследить посылку? Найдите информацию об отслеживании и детали заказа по этой <a class='footer_cart_chek' href="{% url 'orders:checking_orders' %}">ссылки</a>.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
        <div class="ps-block--iconbox"><i class="ba-biscuit-1"></i>
          <h4>Шеф-повар<span> С ЭНТУЗИАЗМОМ</span> </h4>
          <p>Покупайте наши продукты, ежедневно мы готовим новые.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
        <div class="ps-block--iconbox"><i class="ba-flour"></i>
          <h4 class='text-nowrap'>Свежие продукты<span> ЗАЩИТИ СВОЮ СЕМЬЮ</span></h4>
          <p>Мы всегда гарантируем безопасность всей выпечки в магазине</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
        <div class="ps-block--iconbox"><i class="ba-cake-3"></i>
          <h4 class='text-nowrap text-center'>Притягательный вкус <span>Всегда выслушаем</span></h4>
          <p>Мы предлагаем круглосуточную горячую линию для клиентов, так что вы никогда не будете одиноки, если у вас возникнут вопросы.</p>
        </div>
      </div>
    </div>
  </div>
</div>