{% load static %}

<div class="form-group--number input-group"id='main-number'>
  <button class="minus decrement" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "cart:cart_change" %}">{% csrf_token %}<span>-</span></button>
  <input class="form-control number" type="text" value="{{ cart.quantity }}">
  <button class="plus increment" data-cart-id="{{ cart.id }}" data-cart-change-url="{% url "cart:cart_change" %}" ><span>{% csrf_token %}+</span></button>
</div>
<td>
  <strong>{{cart.products_price|floatformat:"2u"}}₽</strong></td>
<td>

  <div class='inp'>
    <a href="{% url "cart:cart_change" %}" class ='decrement' data-cart-id="{{ cart.id }}">

      <button type="button" class="btn btn-light"  >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
        </svg>
        
      </button>
      {% csrf_token %}
    </a>
    <input class="m-4 main-number" type="text" value="{{ cart.quantity }}" readonly>
    <a href="{% url "cart:cart_change" %}" class= 'increment' data-cart-id="{{ cart.id }}">

      <button type="button" class="btn btn-light ">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>
        
      </button>
      {% csrf_token %}
    </a>
  </div>